.item {
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom right, #484848 0%, #212121 100%);
    &.proximity-2 {
        background: linear-gradient(to bottom right, #ffdd4b 0%, #c67c00 100%);
        fill: black;
    }
    &.proximity-T {
        background: linear-gradient(to bottom right, #ff6434 0%, #a30000 100%);
        fill: white;
    }
    &.proximity-3 {
        background: linear-gradient(to bottom right, #ff9e40 0%, #c43c00 100%);
        fill: white;
    }
    &.proximity-1 {
        background: linear-gradient(to bottom right, #ffff52 0%, #c7a500 100%);
        fill: black;
    }
    >div {
        background-color: #121212;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin: 4px;
        svg {
            text-align: center;
            font-size: 35px;
            width: 0;
            height: 0;
        }
    }
    &:hover {
        transform: scale(1.05);
        >div {
            background-color: transparent;
            text-align: center;
            color: white;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}