@mixin shine {
    content: "";
    animation: shine 5s ease-in-out infinite;
    animation-fill-mode: forwards;
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0) 100%
    );
}

.item {
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom right, #484848 0%, #212121 100%);

    &.proximity-2 {
        background: linear-gradient(to bottom right, #ffdd4b 0%, #c67c00 100%);
        fill: rgb(44, 41, 41);
    }
    &.proximity-T {
        background: linear-gradient(to bottom right, #ff6434 0%, #a30000 100%);
        fill: white;
        position: relative;
        overflow: hidden;
        &:after {
            @include shine;
        }
    }
    &.proximity-3 {
        background: linear-gradient(to bottom right, #ff9e40 0%, #c43c00 100%);
        fill: white;
    }
    &.proximity-1 {
        background: linear-gradient(to bottom right, #ffff52 0%, #c7a500 100%);
        fill: black;
    }

    &.proximity-2,
    &.proximity-T,
    &.proximity-3,
    &.proximity-1 {
        pointer-events: none;
    }
    
    > div {
        background-color: #121212;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin: 4px;
        svg {
            text-align: center;
            font-size: 35px;
            width: 0;
            height: 0;
        }
    }
    &:hover:not(.digged) {
        transform: scale(1.1);
    }
    &.digged {
        > div {
            background-color: transparent;
            text-align: center;
            color: white;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}
