.info-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #d1d1d1;
    font-size: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;


    > span {
        text-align: center;
        display: inline-block;
        width: 90%;
        margin: 0 auto;
    }

    &.show {
        animation: fade 1s reverse;
    }

    &.hide {
        animation: fade 1s forwards;
    }
}

@keyframes fade {
    0% {
        opacity: 0.95;
    }
    99% {
        opacity: 0;
        right: 0%;
        bottom: 0%;
        font-size: 45px;
    }
    100% {
        right: 100%;
        bottom: 100%;
        opacity: 0;
        font-size: 0;
    }
}
