.login-page {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    label {
        flex: 0 0 auto;
        font-size: 40px;
        text-align: left;
        width: 100%;
        color: #1f1f1f;
    }
    .input-wrapper {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }
    input {
        width: 80%;
        background-color: transparent;
        display: block;
        border: none;
        height: 75px;
        color: #8c8c8c;
        font-size: 50px;
        padding: 5px 0;
        border-bottom: 1px solid #1f1f1f;
        &:focus {
            border-bottom: 1px solid #8c8c8c;
            outline: 0;
        }
        &:-webkit-input-placeholder {
            font-size: 50px;
        }
        &::placeholder {
            color: #8c8c8c;
        }
    }
}

.icon-button {
    svg {
        width: 7em;
        height: 7em;
        fill: #1f1f1f;
    }
}

.input-error {
    color: #af4448;
    min-height: 19px;
    ;
}